<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>AMP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row justify-content-center aling-items-center>
    <ion-col>
      <div style="text-align: center;">
        <ion-img style="width: 90px;height: 190px;display: block;margin: auto;" src="assets/icon/logo.png"></ion-img>
      </div>
    </ion-col>
  </ion-row>

  <ion-card style="text-align: center;">
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="formularioLogin">

        <ion-item>
          <ion-icon name="person-outline" color="primary"></ion-icon>
          <ion-label>
            Usuario
          </ion-label>

          <ion-input formControlName="usuario" type="text">

          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key-outline" color="primary"></ion-icon>
          <ion-label>
            Contraseña 
          </ion-label>
          <br>
          <ion-input formControlName="password" type="password">

          </ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button color="primary" (click)="ingresar()">
        INGRESAR
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>